argon2-cffi==25.1.0
asgiref==3.11.1
cachetools==7.0.1
Flask==3.1.3
Flask-Cors==6.0.2
grpc-interceptor==0.15.4
grpcio==1.78.1
grpcio-testing==1.78.1
grpcio-tools==1.78.1
gunicorn==25.1.0
mysqlclient==2.2.8
mysql-connector-python==9.6.0
nest-asyncio==1.6.0
peewee==4.0.0
phonenumbers==9.0.24
pycryptodome==3.23.0
PyJWT==2.11.0
pytest==9.0.2
requests==2.32.5
smswithoutborders_libsig @ git+https://github.com/smswithoutborders/lib_signal_double_ratchet_python.git@staging
tqdm==4.67.3
twilio==9.10.2
